<form class="ui stacked segment form" action="/dashboard/addBreed" method="POST">
 <div class="two fields">
  <div class="field">
    <label>Breed</label>
    <input placeholder="Breed" type="text" name="breed" autofocus required>
  </div>
   
  <div class="field">
    <label>Name</label>
    <input placeholder="Name" type="text" name="name" required>
  </div>
   
   <div class="field">
    <label>Age</label>
    <input placeholder="Age" type="text" name="age" required>
  </div>
   
   <div class="field">
    <label>Lifespan</label>
    <input placeholder="Lifespan" type="text" name="lifespan" required>
  </div>
   
   <div class="field">
    <label>Size</label>
    <input placeholder="Size" type="text" name="size" required>
  </div>
   
   <div class="field">
    <label>Weight</label>
    <input placeholder="Weight" type="text" name="weight" required>
  </div>
   
   <div class="field">
    <label>Colour</label>
    <input placeholder="Colour" type="text" name="size" required>
  </div>
   
   <div class="field">
    <label>Personality</label>
    <input placeholder="Personality" type="text" name="personality" required>
  </div>
   
 </div>
 <button class="ui blue submit button">Add Playlist</button>
</form>

    
