<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    
    <a href="/"> HomePage</a>
  </header>
  
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About  </a>
    <a id="listCats" class="item" href="/listCats"> Feline Friends  </a>
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
