  <section id="searchResults">
    {{#if foundCatBreeds}}
      <h2>
          {{ catBreedTitle}}
      </h2>
    {{/if}}

    {{#each foundCatBreeds}}
      <section class="ui left aligned middle aligned segment">

        <h3 class="ui header">
            {{title}}
        </h3>

        <p>
          <i class="fas fa-cat"></i>
            {{#if cats}}
              Total cats:
              {{cats.length}}

              {{else}}
            No cats for aoption!
            {{/if}}
        </p>
        
      </section>
    {{/each}}

  </section>
