{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
 <h1>About us</h1>
  
  <p>
    At Feline Friends, our mission is to rescue, care for, and rehome cats in need. 
    We are dedicated to providing a safe haven for abandoned, stray, and surrendered cats, ensuring they receive the medical care, love, and attention they deserve.
    With the support of our compassionate team and community, we help each cat find their perfect forever home. 
    Join us in giving these wonderful animals a second chance at a happy life!
  </p>
  
<h2> We Love Cats! </h2>

<img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/24.jpg?v=1741010585126" class="ui centered image">

  
  <h2 class="ui center aligned header" style="margin-top: 2em;">Meet Our Team!</h2>
  
<section class="ui middle aligned segment" style="margin-top: 2em; padding: 5px; display: flex;">

{{#each team}}<!-- Loops through each team member to display their details -->

  
  <!-- Card for each team member -->
    <div class="ui card" style="margin: 5px; width: 300px ; height: 330px ;">
      
      <div class="image" >
        <img src="{{image}}" style="width: 200px; height: 200px; object-fit: cover;">
      </div>
      
      <div class="content"  >
        <p>Name:{{name}} </p>
        <p>Role:{{role}}</p>
      </div>
      
      
    </div>
  
   
  {{/each}}  
</section>
  
  
<h2>Our Mission Statement and Values</h2>

<div  style="display: flex; align-items: center; background-color: lightblue; padding: 20px; width: 1000px; margin: auto; border-radius: 15px; margin-bottom: 20px;">
    <img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/mission1.jpg?v=1741089291685" style="width: 200px; height: 215px; margin-right: 20px; padding: 1em; border-radius: 50%;">
    <div>
        <h3><bold>Our Mission</bold></h3>
        <p><bold>At Feline Friends Rescue, our mission is to rescue, care for, and rehome cats in need, providing them with loving forever homes.</bold></p>
    </div>
</div>

<div style="display: flex; align-items: center; background-color: lightblue; padding: 20px; width: 1000px; margin: auto; border-radius: 15px; margin-bottom: 20px;">
    <img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/vision1.jpg?v=1741089297741" style="width: 200px; height: 215px; margin-right: 20px; padding: 1em; border-radius: 50%">
    <div>
        <h3><bold>Our Vision</bold></h3>
        <p><bold>To create a world where every cat has a loving home, free from neglect and abandonment, where they can live happy and healthy lives.</bold></p>
    </div>
</div>

<div style="display: flex; align-items: center; background-color: lightblue; padding: 20px; width: 1000px; margin: auto; border-radius: 15px; margin-bottom: 20px;">
    <img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/values.jpg?v=1741089303870" style="width: 200px; height: 215px; margin-right: 20px; padding: 1em; border-radius: 50%">
    <div>
        <h3><bold>Our Values</bold></h3>
        <p><bold>We value compassion, integrity, and dedication in everything we do. We are committed to providing exceptional care, promoting responsible pet ownership, and fostering a community of kindness and respect for all cats.</bold></p>
    </div>
</div>




     
     
     
  </section>

