{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
 <h1>About us</h1>
  
  <p>
    At Feline Friends, our mission is to rescue, care for, and rehome cats in need. 
    We are dedicated to providing a safe haven for abandoned, stray, and surrendered cats, ensuring they receive the medical care, love, and attention they deserve.
    With the support of our compassionate team and community, we help each cat find their perfect forever home. 
    Join us in giving these wonderful animals a second chance at a happy life!
  </p>
  
<h2> We Love Cats! </h2>

<img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/24.jpg?v=1741010585126" class="ui centered image">

  
  <h2 class="ui center aligned header" style="margin-top: 2em;">Meet Our Team!</h2>
  
<section class="ui middle aligned segment" style="margin-top: 2em; padding: 5px; display: flex;">

{{#each team}}
  
    <div class="ui card" style="margin: 5px; width: 300px ; height: 330px ;">
      
      <div class="image" >
        <img src="{{image}}" style="width: 200px; height: 200px; object-fit: cover;">
      </div>
      
      <div class="content"  >
        <p>Name:{{name}} </p>
        <p>Role:{{role}}</p>
      </div>
      
      
    </div>
  
   
  {{/each}}  
</section>
  
  
  <h2>  Our mission and Values</h2>
  
<div style="display: flex; align-items: center; background-color: lightgrey; padding: 20px; width: 1000px; height: 140px; margin: auto; border-radius: 15px; margin-bottom: 20px;">
    <img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/clipart2958085.png?v=1741087244367" style="width: 150px; height: auto; margin-right: 20px; padding: 1em;">
    <p>To promote and protect the welfare of all animals.</p>
</div>
  
  <div style="display: flex; align-items: center; background-color: lightgrey; padding: 20px; width: 1000px; height: 140px; margin: auto; border-radius: 15px; margin-bottom: 20px;">
    <img src="https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/clipart2958085.png?v=1741087244367" style="width: 150px; height: auto; margin-right: 20px; padding: 1em;">
    <p>To promote and protect the welfare of all animals.</p>
</div>


     
     
     
  </section>

