{{> menu}}

{{#with singleCat}}

<section class="ui center aligned middle aligned segment">
  
  <h2 class="ui header">
    {{breed}} <!-- Displays the breed of the selected cat -->
  </h2>
  
  
  {{> listCats}}
  
</section>

 <section class="ui center aligned middle aligned segment">

    {{> addcat}}

  </section>

{{/with}}
