{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2 class="ui header">
    {{singleCat.breed}} <!-- Displays the breed of the selected cat -->
  </h2>
  
  
  {{> listCats}}
</section>
