{{> menu id="search"}}

<section class="ui left aligned middle aligned segment">
  <form class="ui stacked segment form" action = "/searchcatBreed" method = "POST">
  <div class="field">
    <label>CatBreed</label>
    <select name = "catBreed" id = "myDropdown">
      <option>Please select One</option>
      {{#each catBreeds}}
        <option value = "{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</form>
  
   {{> results}}
  
</section>
