html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Georgia', serif;
  margin: 2em;
  background-color: lightblue;
}

h1, h2, h3 {
  font-family: 'Georgia', sans-serif; 
  letter-spacing: 1px; 
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
  }

.ui.primary.button {
  background-color: #ff7f50; 
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.ui.primary.button:hover {
  background-color: #ff4500; 
}

.trash.black.icon:hover {
      transform: scale(1.1);
      color: #e60000;
   }

.editSubmit {
  border:none;
  background: none;
}

.hide{
    display: none;
}
