html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
  }



